<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear User,</p>

    <p>We hope this email finds you well. We're excited to announce our new referral program, where you can earn exclusive rewards simply by referring your friends and family to our service.</p>

    <p>To get started, simply click on this link: <a href="<%= @referral_link %>"><%= @referral_link %></a>. This will take you to our referral page, where you can enter your friend's name and email address.</p>


    <p>Thank you for your support and for being part of our community. We look forward to rewarding you for every successful referral!</p>

    <p>Best regards,</p>
    <%= @sender_name %>
  </body>
</html>